html,
body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

div,
section,
main,
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
